html, body {
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  font-family: sans-serif;
  margin:0;
  padding:0;
}
input, select{
  background-color: #d6cec0;
  padding: 8px;
  font-weight: 600;
}
button {
  font-weight: 600;
}
