.scrollable::-webkit-scrollbar {
    width: 0.5em;
}

.scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #545B67;
    outline: 1px solid slategrey;
}