.app {
  position: relative;
}

.app__container {
  color: #ffffff;
  background: linear-gradient(0deg, rgba(10, 18, 34, 0.4), rgba(10, 18, 34, 0.4)), radial-gradient(1235.96px at 91.7% 0%, #18253E 0%, #0A1222 100%);
}

.app__content-left{
  max-width: 318px;
  background: #18253e;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.24);
  padding-bottom:10px;
}

.app__content-center{
}

.app__content-right{
  max-width: 300px;
}

.app__demo-link{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.app__small-table {
  margin: 30px;
  flex-basis: 33%;
  min-width:420px;
}

.app__content-bottom{
  height: 350px;
}