.confirm-loan{
  padding: 20px;
}

.confirm-loan__row{
  margin: 5px;
}

.confirm-loan__header{
  font-size: 20px;
  font-weight: 600;
}

.confirm-loan__buttons{
  margin-top: 10px;
}

.confirm-loan__btn-wrapper{
  display: flex;
  justify-content: space-between;
}

.confirm-loan__btn{
  color: white;
  height: 32px;
  width: 200px;
}

.confirm-loan__btn_confirm{
  background-color: #23a85b;
}

.confirm-loan__btn_cancel{
  background-color: #ff281f;;
}