.issued-table__header {
    color: #B1B4BB;
}

.issued-table__table {
    width: 100%;
    font-size: 11px;
    color: #B3B7BF;
}

.issued-table__table-header,
.issued-table__table-cell {
    padding: 5px;
    text-align: left;
    width: 18%;
    border-bottom: 2px solid #2A364D;
}

.issued-table__table-header:first-child,
.issued-table__table-cell:first-child {
    width: 43%;
}

.issued-table__table-header:nth-child(2),
.issued-table__table-cell:nth-child(2) {
    width: 21%;
}

.issued-table__table-header:nth-child(3),
.issued-table__table-cell:nth-child(3),
.issued-table__table-header:nth-child(4),
.issued-table__table-cell:nth-child(4) {
    text-align: right;
}

.issued-table__table-body {
    max-height: 680px;
}